<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Shouty</h1>

    <form action="/shout" method="post">
      <label for="message">Message</label>
      <input type="text" name="message" value="" id="message">
      <input type="submit" value="Shout!">
    </form>
  </body>
</html>
