<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css" media="screen">
      #last_heard_message {
        color: red;
      }

      h1 {
        background: pink;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= person.name %> (<%= person.location %>)</h1>

    <div id="last_heard_message"><%= person.last_heard_message %></div>

    <form method="post">
      <label for="message">Message</label>
      <input type="text" name="message" value="" id="message">
      <input type="submit" value="Shout!">
    </form>
  </body>
</html>
